.fo{
	background-color: white;
	margin-bottom: 8px;
	padding: 10px;
}
.nickname{
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.username{
	font-size: 14px;
	color: #064dc5;
	line-height: 20px;
}
.name{
	font-size: 14px;
	color: #999;
	line-height: 20px;
}