/* 小申展详情 */
.SmallStretchPvw{
  width: 100%;
  background:rgba(245,245,245,1);
}
.SmallStretchPvw-img{
  width: 100%;
  height: 200px;
}

.SmallStretchPvw-img image{
   width: 100%;
   height: 100%;
}
.SmallStretchPvw-center{
  background-color: white;
  padding: 20px 16px 18px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.SmallStretchPvw-name{

  font-size:21px;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:28px;
  margin-bottom: 8px;
}
.SmallStretchPvw-company{
  width: 100%;
  background:rgba(169,201,255,0.15);
  padding: 13px 15px ;
  font-size:14px;
  font-weight:300;
  color:rgba(68,68,68,1);
  margin-bottom: 15px;
  box-sizing: border-box;
}
/* .SmallStretchPvw-company view:nth-child(1){
  font-size:14px;
  font-weight:300;
  color:rgba(68,68,68,1);
  margin-bottom: 6px;
} */
/* .SmallStretchPvw-company view:nth-child(2){
  font-size:14px;
  font-weight:300;
  color:rgba(68,68,68,1);
  line-height: 24px;
} */
#SmallStretchPvw-company text{
  font-size:14px;
  font-weight:300;
  color:rgba(68,68,68,1);
  margin-left: 4px;
}
#SmallStretchPvw-company text{
  font-size:14px;
  font-weight:300;
  color:rgba(68,68,68,1);
}
.SmallStretchPvw-price{
  width: 100%;
  /* background-color: #FF3B30; */
  display: flex;
}
.SmallStretchPvw-price-like{
  height: 37px;
  flex: 1;
  /* background-color: #666666; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.SmallStretchPvw-price-like > text{
font-size:13px;
font-weight:400;
color:rgba(102,102,102,1);
line-height:13px;
margin-left: 4px;
}

#SmallStretchPvw-dialTel{
  width: 100%;
  height:49px;
  background:rgba(255,255,255,1);
  text-align: center;
  line-height: 49px;
  font-size:18px;
  font-weight:400;
  color:rgba(51,51,51,1)
}

.SmallStretchPvw-price>view:nth-child(1){
  font-size:26px;
  font-weight:500;
  color:rgba(242,71,36,1);
  line-height:37px;
}
.re{
  position: relative;
}
#SmallStretchPvw-price-img{
  background-color: rgb(228, 219, 219);
  width: 95px;
  height: 18px;
  margin-left: 8px;
  /* border: 1px solid red; */
}
#SmallStretchPvw-price-img image{
  width: 100%;
  height: 100%;
}
#SmallStretchPvw-price-img>view{
  position: absolute;
  top: 0;
  right: 0;
  width:40%;
  height: 100%;
	font-size:11px;
	font-weight:500;
	color:rgba(11,12,6,1);
	line-height: 17px;
  font-weight: bold;
}
.SmallStretchPvw-bottom{
  width: 100%;
  background-color: white;
  padding: 25px 16px;
  box-sizing: border-box;
}
.SmallStretchPvw-bottom-title{
  width:100px;
  height:18px;
  margin: 0 auto;
  text-align: center;
}
.SmallStretchPvw-bottom-yellow1{
  font-size:19px;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:18px;
  width:100px;
  height:18px;
  background:rgba(255,236,120,0);
  left: 0;
  top:0;
  position: absolute;
  z-index: 2;
}
.SmallStretchPvw-bottom-yellow{
  width:48px;
  height:8px;
  background:rgba(255,236,120,1);
  z-index: 1;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.SmallStretchPvw-bottom-img {
  width: 100%;
  /* height: 600px; */
  background-color: white;
  padding-top: 20px;
  box-sizing: border-box;
}
.SmallStretchPvw-bottom-img-box {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.SmallStretchPvw-bottom-img-box>image{
  width: 100%;
  margin: 0 auto;
}
.xiangxixinxineirong{
font-size:16px;
font-weight:400;
color:rgba(51,51,51,1);
line-height:28px;
}
.SmallStretchPvw-bottom-cccline{
width:100%;
height:30px;
background:rgba(245,245,245,1);
box-shadow:0px -1px 0px 0px rgba(221,221,221,1);
}
.SmallStretchPvw-bottom-vote{
background:rgba(255,255,255,1);
width: 100%;
padding: 8px 16px;
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}
.SmallStretchPvw-vote{
  width:48%;
  height:44px;
  background:rgba(16,142,233,0.15);
  border-radius:4px;
  line-height: 44px;
  text-align: center;
  font-weight:400;
  color:rgba(6,77,197,1);
  font-size: 18px;
}
.SmallStretchPvw-consult{
  width:48%;
  height:44px;
  background:rgba(6,77,197,1);
  border-radius:4px;
  line-height: 44px;
  text-align: center;
  font-weight:400;
  color:rgba(255,255,255,1);
  font-size: 18px;
}
