.hot{
	width: 100%;
	/* background-color: #09BB07; */
	/* padding-left: 20upx; */
	overflow: hidden;
}
.hot-text{
	    font-size: 17px;
	    line-height: 40px;
	    margin-top: 10px;
	    color: #333333;
	    font-weight: bold;
		margin-left: 12px;
}
.num{
	
	/* background-color: indianred; */
	font-size: 14px;
	line-height: 40px;
	color: #666;
	justify-content: space-between;
	margin-left: 12px;
	border-bottom: 1px solid #ccc;
	transform-origin: 0 100%;
}
.left{
	flex:1 ;
	height: 1200upx;
}
.right{
	width: 55px;
	/* background-color: #064DC5; */
	align-content: center;
	justify-content: center;
}
.body{
	overflow: hidden;
}
::-webkit-scrollbar {
       width: 0;
       height: 0;
       color: transparent;
}
.newHot{
	font-size: 12px;
	color: #2D2D2D;
	/* background-color: #09BB07; */
	width: 100%;
	margin-top: 5px;
	justify-content: center;
}

