/* 我的发布，发布历史 */
.IssueHistory{
  background:rgba(245,245,245,1);
  width: 100%;
  min-height: 100%;
}
.IssueHistory-btn-wrap{
  /* background-color: #FF3B30; */
  /* border: 1px solid blue; */
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  left: 105px;
  /* display: flex; */
  color:rgba(6,77,197,1);
}
.IssueHistory-btn-wrap>view:nth-child(3){
  width:58px;
  height:24px;
  border-radius:2px;
  border:1px solid rgba(6,77,197,1);
  float: left;
  text-align: center;
  line-height: 24px;
  box-sizing: border-box;
  margin-left: 6px;
}
.IssueHistory-btn-wrap>view:nth-child(1){
  width:58px;
  height:24px;
  border-radius:2px;
  /* background-color: aqua; */
  border:1px solid rgba(6,77,197,1);
  float: left;
  text-align: center;
  line-height: 24px;
  /* margin-left: 8px; */
  box-sizing: border-box;
}
.IssueHistory-btn-wrap>view:nth-child(2){
  width:58px;
  height:24px;
  border-radius:2px;
  /* background-color: aqua; */
  border:1px solid rgba(6,77,197,1);
  float: left;
  text-align: center;
  line-height: 24px;
  /* margin-left: 8px; */
  box-sizing: border-box;
}
.position-re{
  position: relative;
}
.position-ab{
  position:absolute;
}
.nomorecon{
  bottom: 0;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  width: 100%;
}
.juhuasuan-loadmore-con{
  padding: 20px  15px 0;
  position: relative;
}
.juhuasuan-con{
  display: flex;
  padding-bottom: 20px;
  position: relative;
}
.juhuasuan-con-img{
  width: 100px;
  height: 100px;
  margin-right: 16px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;

  /* line-height: 100px; */
}
.juhuasuan-con-img image{
  width: 100%;
  height: 100%;
}
.juhuasuan-con-title{
font-size:17px;
font-weight:500;
color:rgba(51,51,51,1);
line-height: 24px;
margin-bottom: 6px;
}
.new-zixun{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgb(111, 158, 160); */
}
.juhuasuan-con-price{
  margin-bottom: 30px;
}

.juhuasuan-con-price text:nth-child(1){
  color: #FF3B30;
  font-size: 20px;

}
.juhuasuan-con-price text:nth-child(2){
  color: #FF3B30;
  font-size: 14px;
}
.juhuasuan-con-price text:nth-child(3){
font-size:13px;
font-weight:400;
color:rgba(153,153,153,1);
text-decoration:line-through ;
}
.gotoTop{
	width:110upx;
	height:110upx;
	/* background:rgba(6,77,197,1); */
	/* box-shadow:0px 3px 9px 0px rgba(134,134,134,0.5); */
	position: fixed;
	top: 70%;
	right: 30upx;
	z-index: 10;
}

.gotoTop-send{
	background:rgba(6,77,197,1);
	box-shadow:0px 3px 9px 0px rgba(134,134,134,0.5);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: white;
	font-size: 22upx;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
	
.gotoTop-send>view{
	text-align: center;
}