.club_report{
  padding: 15px;
}
.club_report image{
  display: block;
}
.new_report_title{
  padding: 14px 3%;
  background: #27A7F1;
}
.new_report_title .tips{
  width: 22px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  color: #27A7F1;
  font-weight: bold;
}
.new_report_title .title{
  font-size: 16px;
  line-height: 22px;
  margin-left: 10px;
  color: #fff;
}
.new_report_title .text{
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  margin-right: 10px;
}
.new_report_title .icon{
  width: 6px;
  height: 12px;
  display: block;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.new_report_title .icon.rotate{
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.member_con{
  background: #fff;
  transition: all 0.3s ease;
}
.member_con.height{
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.member_con .small{
  font-size: 16px;
  line-height: 24px;
  padding: 8px 3% 8px calc(30px + 3%);
  color: #27A7F1;
  position: relative;
}
.member_con .small.bt{
  border-top: 8px solid #fafafa;
}
.member_con .small::before{
  width: 8px;
  height: 8px;
  position: absolute;
  content: '';
  background: #27A7F1;
  border-radius: 4px;
  left: calc(9px + 3%);
  top:50%;
  margin-top: -4px;
}
.member_con .report_list.all{
  width: 94%;
  margin: 0 auto;
}
.member_con .report_list .item .num{
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.report_list.new .item:nth-child(odd) {
  background: #F9FBFE;
}
.report_list.new .item:nth-child(even) {
  background: #fff;
}
.group_list{
  padding: 0 3%;
}
.group_list .list{
  padding: 10px 0;
}
.group_list .title{
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.group_list .info{
  font-size: 13px;
  color: #666;
  line-height: 20px;
}
.pay_condition{
  background: #f5f5f5;
  padding: 10px 15px;
}
.pay_condition .type{
  padding: 0 18px;
  background: #fff;
  border-radius: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.pay_condition .caret{
  border-top-color: #666;
  margin-left: 5px;
}
.pay_condition .total{
  font-size: 13px;
  line-height: 24px;
  color: #666;
}
.pay_again_city{
  background: #fff;
  margin-bottom: 10px;
  padding: 0 15px;
}
.pay_again_city .city_name{
  position: relative;
  font-size: 16px;
  line-height: 44px;
  padding-left: 12px;
  font-weight: 500;
}
.pay_again_city .city_name::after{
  width: 5px;
  height: 16px;
  position: absolute;
  content: '';
  left: 0;
  top:50%;
  margin-top: -8px;
  background: #064DC5;
}
.pay_again_city .detail>view{
  width: 50%;
}
.pay_again_city .detail{
  padding: 15px 0;
}
.pay_again_city .detail .number view{
  font-size: 15px;
  line-height: 20px;
  color: #666;
}
.pay_again_city .detail .percent{
  text-align: center;
}
.pay_again_city .detail .percent .text{
  font-size: 12px;
  text-align: center;
  color: #666;
  line-height: 16px;
}
.pay_again_city .detail .percent .num{
  font-size: 30px;
  color: #666;
  line-height: 22px;
  height: 30px;
}
.pay_again_city .detail .percent .num text{
  font-size: 12px;
  line-height: 22px;
}
.history_list{
  position: relative;
  background: #fff;
}

.history_list .list>view{
  flex: 1;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #333;
  font-weight: bold;
  padding: 15px 0;
}
.history_list .head>view{
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
.data_area_head{
  background: #f5f5f5;
  height: 70px;
  padding: 0 15px;
  font-size: 16px;
  color: #333;
  line-height: 24px;
}
.data_area_head .type{
  padding: 0 15px;
  background: #fff;
  border-radius: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.data_area_head .caret{
  border-top-color: #666;
  margin-left: 5px;
}
.data_area_head .number>view{
  font-size: 13px;
  line-height: 24px;
  color: #666;
  text-align: right;
}
.report_list.all .item {
    background: #fff!important;
    padding: 0!important;
}

.report_list .item .text {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 0;
    color: #333;
}
.report_list .item {
    padding: 0 3%;
    background: #fff;
}
.report_list .item:nth-child(even) {
    background: #F9FBFE;
}
.report_title .title {
    line-height: 40px;
    background: #fafafa;
    padding: 0 3% 0 calc(3% + 10px);
    font-size: 16px;
    color: #064DC5;
    position: relative;
}
.report_search {
    padding: 0 3%;
    margin: 0 auto;
    height: 44px;
}
.report_search .text {
    flex: 1;
    background: #fafafa;
    border-radius: 2px;
    margin-right: 10px;
    height: 30px;
}
.report_search .btn {
    width: 50px;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid #064DC5;
    text-align: center;
    border-radius: 4px;
    color: #064DC5;
}
.report_search .text .icon {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 8px;
}
.report_search input {
    font-size: 13px;
    line-height: 20px;
    color: #333;
    display: block;
    background: none;
    width: 100%;
}
.report_title .title:after {
    width: 4px;
    height: 16px;
    background: #064DC5;
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -8px;
    content: '';
    border-radius: 2px;
}
.listCon {
    width: 100%;
    background: #fafafa;
}
.new_user_list {
    background: #fff;
}
.new_user_list .lii {
    width: 94%;
    margin: 0 auto;
    padding: 15px 0;
}
.new_user_list .lii .user {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.new_user_list .lii .con {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex: 1;
    padding-top: 3px;
}
.new_user_list .lii .con .info .name {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.new_user_list .lii .con .no {
    padding: 0 4px;
    border: 1px solid #827A7A;
    border-radius: 4px;
    margin-left: 5px;
    color: #827A7A;
}
.new_user_list .lii .con .info .no>view {
    font-size: 10px;
    line-height: 12px;
}
.new_user_list .lii .con .info .no>view {
    font-size: 10px;
    line-height: 12px;
}
.new_user_list .lii .tel {
    font-size: 13px!important;
    line-height: 20px;
    color: #666;
    width: 120px;
}
.new_user_list .lii .con .company {
    margin-top: 3px;
}
.new_user_list .lii .con .company>view {
    color: #666;
    font-size: 13px;
    line-height: 20px;
}
.new_user_list .lii .con .detail {
    background: #F7F9FF;
    font-size: 12px;
    color: #999;
    padding: 5px;
    margin-top: 5px;
}
.new_user_list .lii .con .detail view {
    line-height: 20px;
	font-size: 12px;
}
.vip{
	padding: 0 5px;
	border: 1px solid #827A7A;
	border-radius: 4px;
	margin-left: 5px;
	color: #827A7A;
	font-size: 10px;
}
.report_title .number {
    font-size: 15px;
    line-height: 40px;
    color: #064DC5;
}
.abc{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #FAFAFA;
	z-index: 100;
}
.abcwrap{
	padding-top: 40px;
}
.ccc{
	color: #ccc;
}
.tabActive{
	color: #004DC5;
	position: relative;
}
.tabActive::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 28px;
	height: 3px;
	background: #064DC5;
}